@keyframes fadeOutText {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

.fade-out-text {
  animation-name: fadeOutText;
  /* Link to the keyframes */
  animation-duration: 2s;
  /* How long the animation takes */
  animation-timing-function: ease;
  /* Controls the speed curve */
  animation-fill-mode: forwards;
  /* Keeps the final state after animation */
  animation-iteration-count: 1;
}