@keyframes matchScoreChainText {
  0% {
    opacity: 100%;
    transform: translateY(40px);
  }

  100% {
    opacity: 0%;
    transform: translateY(-40px);
  }
}

.match-score-change-animation {
  animation-name: matchScoreChainText;
  /* Link to the keyframes */
  animation-duration: 2s;
  /* How long the animation takes */
  animation-timing-function: ease-out;
  /* Controls the speed curve */
  animation-fill-mode: forwards;
  /* Keeps the final state after animation */
  animation-iteration-count: 1;
}