@keyframes matchChainScore {
  0% {
    opacity: 100%;
    transform: translateY(40px);
  }

  100% {
    opacity: 0%;
    transform: translateY(-40px);
  }
}

.match-chain-score-animation {
  animation-name: matchChainScore;
  /* Link to the keyframes */
  animation-duration: 3s;
  /* How long the animation takes */
  animation-timing-function: ease-out;
  /* Controls the speed curve */
  animation-fill-mode: forwards;
  /* Keeps the final state after animation */
  animation-iteration-count: 1;
}

@keyframes dropScore {
  0% {
    opacity: 80%;
  }

  100% {
    opacity: 0%;
  }
}

.drop-score-animation {
  animation-name: dropScore;
  /* Link to the keyframes */
  animation-duration: 1s;
  /* How long the animation takes */
  animation-timing-function: ease-out;
  /* Controls the speed curve */
  animation-fill-mode: forwards;
  /* Keeps the final state after animation */
  animation-iteration-count: 1;
}

@keyframes matchChainMultiplier {
  0% {
    opacity: 40%;
    transform: translateY(40px);
  }

  100% {
    opacity: 0%;
    transform: translateY(-40px);
  }
}

.match-chain-multiplier-animation {
  animation-name: matchChainMultiplier;
  /* Link to the keyframes */
  animation-duration: 2s;
  /* How long the animation takes */
  animation-timing-function: ease-out;
  /* Controls the speed curve */
  animation-fill-mode: forwards;
  /* Keeps the final state after animation */
  animation-iteration-count: 1;
}

.border-shadow {
  filter: drop-shadow(0px 0px 10px rgb(0, 0, 0, 0.5));
}
